<% if @book.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
		<ul>
			<% @book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

<h1>Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @books.each do |book|%>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td><%= link_to "Show", book_path(book)%></td>
			<td><%= link_to "Edit",edit_book_path(book)%></td>
			<td><%= link_to "destory",book_path(book), method: :delete, data:{confirm: 'Are you sure'} %><td>
		</tr>
	</tbody>
	<% end %>
</table>



<div class="new_book">
<h2>New book</h2>
<%= form_for(@book) do |f|%>
	<%=f.label :Title %>
	<%=f.text_field :title %><br>
	<%=f.label :Body %>
	<%=f.text_area :body %><br>
	<%=f.submit 'Create Book' %>
</div>
<% end %>